

body {
  font-family: Arial, Helvetica, sans-serif;
  font-family: 'Fira Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  /* background-image: url(background.png); */
  /* background-size: cover; */
  /* height: 120vh; */
  /* background: opacity(0.1); */
  background-color: rgba(255, 255, 255, 0.001);
  /* opacity: 0.4; */
  
}

* {
  box-sizing: border-box;
}

/* Button used to open the contact form - fixed at the bottom of the page */

#addemp{
  text-decoration: none;
  color: #fff;
  
}

header {
  background-color: #333;
  color: #fff;
  padding: 20px;
  text-align: center;
 
}
h1 {
  margin: 0;
  font-size: 36px;
}
section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px;
  
}
article {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 4px 4px 8px rgba(8, 8, 8, 0.3);
  margin: 20px;
  padding: 40px;
  text-align: center;
  width: 500px;
  
}
p {
  margin: 20px 0;
  font-size: 20px;
}
button {
  width: 280px;
  height: 60px;
  background: linear-gradient(#1392a59a, #ff660053);
  border: none;
  border-radius: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  padding: 20px;
  margin-top: 20px;
  transition: 0.5s;
  margin-left: 20px;
}
button:hover {
  /* background: linear-gradient(#ff66004e, #00008b ); */
}


/* The popup form - hidden by default */
.form-popup {
  display: none;
  text-align: center;
  bottom: 0;
  right: 40px;
  max-width: 340px;
  border: 3px solid #f1f1f1;
  background-color:white;
  backdrop-filter: blur(10px);;
  z-index: 9;
  border-radius: 20px;
  border-left: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  background: transparent;
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

/* Add styles to the form container */
.form-container {
  max-width: 340px;
  padding: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 20px;
  backdrop-filter: blur(10px);;
  border-left: 1px solid white;
  border-top: 1px solid white;
  box-shadow: 20px 20px 40px -6px rgba(0,0,0,0.2);
  background: transparent;
  color: #fff;
  font-family: Montserrat, sans-serif;
    font-weight: 500;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
  
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 75%;
  display: flex;
  justify-content: center;
  justify-self: center;
  align-self: center;
  text-align: center;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #cccfeb;
  border-radius: 20px;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
  margin: 30px;
  border-radius: 20px;
}

.form-container input[type=submit] {
  width: 220px;
  height: 60px;
  /* font-family: Montserrat, sans-serif;
    font-weight: 500; */
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
  border-left: 1px solid white;
    border-top: 1px solid white;
  background: linear-gradient(105.2deg, rgb(173, 120, 42) 11.2%, rgb(185, 149, 99) 117.9%);
  align-self: center;
  border: none;
  border-radius: 20px;
  text-shadow: 2px 4px rgba(137, 98, 204, 0.4);
  box-shadow: 10px 10px 60px -8px rgba(255, 255, 255, 0.2);
}

/* Set a style for the submit/login button */
.form-container .btn {
  width: 220px;
  height: 60px;
  /* font-family: Montserrat, sans-serif;
    font-weight: 500; */
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
  border-left: 1px solid white;
    border-top: 1px solid white;
  background: linear-gradient(105.2deg, rgb(173, 120, 42) 11.2%, rgb(185, 149, 99) 117.9%);
  align-self: center;
  border: none;
  border-radius: 20px;
  text-shadow: 2px 4px rgba(137, 98, 204, 0.4);
  box-shadow: 10px 10px 60px -8px rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;

}

/* Add a red background color to the cancel button */
.form-container .cancel {
  width:220px;
  height: 60px;
  /* font-family: Montserrat, sans-serif;
    font-weight: 500; */
  color: white;
  backdrop-filter: blur(5px);
  transition: all 0.2s ease-in-out;
  border-left: 1px solid white;
  border-top: 1px solid white;
  background: radial-gradient(circle at 10% 20%, rgb(208, 89, 109) 0%, rgb(231, 156, 118) 90%);
  align-self: center;
  border: none;
  border-radius: 20px;
  text-shadow: 2px 4px rgba(137, 98, 204, 0.4);
  box-shadow: 10px 10px 60px -8px rgba(255, 255, 255, 0.2);
  margin-left: auto;
  margin-right: auto;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}

.header-button1 {
  height: 40px;
  width: 140px;
  margin-top: -8px;
  border-radius: 20px;
  background-color: rgba(0, 136, 169, 1) !important;

}

.header-logo {
  width: 70px;
  height: 60px;
}
.open-button {
  background:none;
  
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  /* position: fixed;*/
  bottom: 23px;
  right: 28px;
  width: 600px;
  font-weight: 600;
  margin-top: 3px;
  font-size: 35px;
  justify-self: flex-start;
  text-align: left;
  border-radius: 20px;
}

.open-button:hover {
  color: rgb(0, 217, 255);
}

.img {
  position: absolute;
  width: 450px;
  height: 450px;
  right: 60px;
  top: 150px;
  display: inline-block;
  /* background-image: url(graph\ \(4\).png);  */
  /* background-size: cover; */
}

footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  width: 100%;
  height: 70px;
  background-color: rgba(1, 19, 37, 0.5);    color: white;
  position: fixed;
  bottom: 0;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  backdrop-filter: blur(5px);
}

@media (max-width: 980px) {
    .img {
      display: none;
    }
}