

.wrapper {
    margin: 100px auto;
    position: relative;
    width: 400px;
    height: 440px;
    background: transparent;
    border: 2px solid rgba(187, 186, 186, 0.4);
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 30px rgba(132, 129, 129, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 40px;
}

.form-box h2{
    margin-top: -20px;
    font-size: 2em;
    color: #dcdcdcb8;
    text-align: center;
}

form h3 {
    color: #dcdcdcb8;
    margin-top: 40px;
    font-size: 1.1em;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 2px solid #162938;
    margin: 30px 0;
}

.input-box label {
     position: absolute;
     top: 30px;
     left: 5px;
     transform: translateY(-50%);
     font-size: 1em;
     color: #dcdcdcb8;
     font-weight: 600;
     pointer-events: none;
}

.input-box input:focus~label {
    top: -5px;
    transition: 0.5s;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #dcdcdcb8;
    font-weight: 600;
    padding: 0 35px 0 5px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    color: #8c8d8dc8;
    line-height: 57px;
}

.remember-forget {
    font-size: 0.9em;
    color: #8c8d8dc8;
    font-weight: 500;
    margin: -12px 0 15px;
    display: flex;
    justify-content: space-between;
}

.remember-forget label input {
    accent-color: #8c8d8dc8;
    margin-right: 3px;
}

.remember-forget a{
    color:#8c8d8dc8;
    text-decoration: none;
}

.remember-forget a:hover {
    text-decoration: underline;
}

.forget_send-again {
    display: flex;
    margin-top: 20px;
    justify-content: space-between;
}

.submit-button {
    width: 100%;
    height: 45px;
    margin-top: 25px;
    background-color: #36424c9c;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    color:rgb(148, 144, 144);
    font-weight: 500;
}

footer {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 100%;
    height: 70px;
    background-color: rgba(1, 19, 37, 0.5);
    color: white;
    position: fixed;
    bottom: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-weight: 100;
    backdrop-filter: blur(5px);
}