<!-- <form method="post">{% csrf_token %}
    <p>Are you sure you want to delete "{{ object }}"?</p>
    {{ form }}
    <input type="submit" value="Confirm" name="delete">
</form> -->
{%load static%}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Nav bar</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{%static 'css/delete.css'%}">
    </head>
<body>

<button onclick="document.getElementById('id01').style.display='block'">delete</button>

<div id="id01" class="modal">
  <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">×</span>
  <form class="modal-content" method="POST">
    {%csrf_token%}
    <div class="container">
      <h1>Delete Account</h1>
      <p>Are you sure you want to delete this employee?</p>
    
      <div class="clearfix">
        
        <button type="submit" name="cancel" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
    
        <button type="submit" name="delete"  onclick="document.getElementById('id01').style.display='none'" class="deletebtn">Delete</button>
      </div>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
  if (event.target == modal) {
    modal.style.display = "none";
  }
}
</script>

</body>
</html>
