{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
    {%block content%}
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Employee Table</title>
        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

        <link rel="stylesheet"
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
            integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="{%static 'css/sideNavBar.css'%}">
        <link rel="stylesheet" href="{%static 'css/navBarStyle.css'%}">
        <link rel="stylesheet" href="{%static 'css/table.css'%}">
        <!-- <link rel="stylesheet" href="/website Pages/Authentication pages/nav bar/navBarStyle.css"> -->
    </head>
    <body>
        <input type="checkbox" name id="check">
        <label for="check">
            <i class="fa-solid fa-bars" id="button"></i>
            <i class="fas fa-xmark" id="cancel"></i>
        </label>
        <div class="side-bar">
            <header>
                HR_Link
            </header>
            <ul>
                <li><a href="{% url 'home'%}"><i class="fas fa-qrcode"></i>Manage
                        Page</a></li>
                <li><a href="{% url 'EmpTable'%}"><i class="fas fa-stream"></i>Table
                        of Employees </a></li>
                <li><a href="{% url 'about'%}"><i class="fas fa-circle-question"></i>About</a></li>
                <li><a href="{% url 'services'%}"><i class="fas fa-sliders-h"></i>Services</a></li>
                <li><a href="{% url 'contact'%}"><i class="fas fa-envelope"></i>Contact</a></li>
                <li><a id="logout-link" onclick="logoutUser()"
                        href="{% url 'login'%}"><i
                            class="fa-solid fa-right-from-bracket"></i>Log out</a></li>
                <script> 
                    function logoutUser() {
                        window.location.replace = "home_HR.html";
                        history.pushState(null, null, location.href);
                    }
                </script>

            </ul>
        </div>

        <div class="table-container">
            <form method="GET">
            <div class="search">

                <label for="key">Search</label>
                <input type="text" name="que" id="key">
            </div>
        </form>
            <table id='table'>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Email</th>
                    <th>address</th>
                    <th>phone</th>
                    <th>gender</th>
                    <th>availableVac</th>
                    <th>actualVac</th>
                    <th>salary</th>
                    <th>birthDate</th>
                    <th>update</th>
                    <th>delete</th>
                </tr>

                {% if employees %}
                {% for each_emp in employees %}
                <tr>
                    <td> {{each_emp.accId}} </td>
                    <td class="header-lst-itm"><i><a class="header-link" href="{%url 'profile' pk=each_emp.pk%}"> {{each_emp.Name}} </a></i></td>
                    <td>{{each_emp.email}} </td>
                    <td>{{each_emp.address}} </td>
                    <td>{{each_emp.phone}} </td>
                    <td>{{each_emp.gender}} </td>
                    <td>{{each_emp.availableVac}} </td>
                    <td>{{each_emp.approvedVac}} </td>
                    <td>{{each_emp.salary}} </td>
                    <td>{{each_emp.Birth_date}} </td>
                    <td class="header-lst-itm"><i><a class="header-link"href="{%url 'updating' pk=each_emp.pk%}">update</a></i>
                    </td>
                    <td class="header-lst-itm"><i><a class="header-link"href="{%url 'emp_delete' accId=each_emp.accId%}?empname={{each_emp.Name}}">delete</a></i> </td>
                </tr>

                {% endfor %}
                {% endif %}
            </table>
        </div>

        <footer>
            &copy; 2023 Human Resources Website all rights reserved
        </footer>

        <script src="{%static 'js/table.js'%}"></script>
    </body>
    {%endblock content%}
</html>