{%extends 'base.html'%}
{%load static%}
<!DOCTYPE html>
<html lang="en">
	{%block content%}
	<head>
		<meta charset="UTF-8">
		<title>Employee Profile</title>
		<link rel="stylesheet" href="{%static 'css/profiles.css'%}">
		<link rel="stylesheet" href="{%static 'css/sideNavBar.css'%}">
		<link rel="stylesheet" href="/website Pages/Authentication pages/nav bar/navBarStyle.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
        integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
        crossorigin="anonymous" referrerpolicy="no-referrer" />
		
	</head>
	<body class="profile-body">
		<input type="checkbox" name="" id="check">
        <label for="check">
            <i class="fa-solid fa-bars" id="button"></i>        
            <i class="fas fa-xmark" id="cancel"></i>
        </label>
        <div class="side-bar">
            <header>
                HR_Link
            </header>
            <ul>
                <li><a href="{% url 'home'%}"><i class="fas fa-qrcode"></i>Manage Page</a></li>
                <li><a href="{% url 'EmpTable'%}"><i class="fas fa-stream"></i>Table of Employees </a></li>
                <li><a href="{% url 'about'%}"><i class="fas fa-circle-question"></i>About</a></li>
                <li><a href="{% url 'services'%}"><i class="fas fa-sliders-h"></i>Services</a></li>
                <li><a href="{% url 'contact'%}"><i class="fas fa-envelope"></i>Contact</a></li>
				<li><a id="logout-link" onclick="logoutUser()" href="{% url 'login'%}"><i class="fa-solid fa-right-from-bracket"></i>Log out</a></li>
                <script> 
                    function logoutUser() {
                        window.location.replace = "home_HR.html";
                        history.pushState(null, null, location.href);
                    }
                </script>

                
            </ul>
        </div>

          
		
		<main class="profile-main">
			<section class="data">
				<img class="profile-picture" src="https://via.placeholder.com/200x200.png?text=Photo" alt="Employee Photo">
				<h2>Employee Name..</h2>
				<p class="data-item">ID: {{employee.accId}}</p>
				<p class="data-item">Email: {{employee.email}}</p>
				<p class="data-item">Phone: {{employee.phone}}</p>
				<p class="data-item">Address:{{employee.address}}</p>
				<form action="{%url 'updating' pk=employee.pk%}">
					<button class="edit-prof" >Edit Profile</button> 
				</form>
				
			</section>
			<section class="vac-info">
				<h2>Vacation Days</h2>
				<p>Available:{{employee.availableVac}}</p>
				<p>Approved: {{employee.approvedVac}}</p><br>
				<button class="req-vac"actio="">Request Vacation</button>
			</section>
		</main>
		<main class="profile-main">
			<section class="salary">
				<h2>Salary</h2>
				<p>{{employee.salary}}</p>
			</section>
		</main>


		<script src="{%static 'js/navBar.js'%}"></script>
	</body>
	{%endblock content%}
</html>