<!DOCTYPE html>

<html lang="en">
    <head>
        <title>Project Home</title>
        <meta charset="UTF-8" />
        <meta name="description" content ="Creative galaxy"/>
        <link rel="stylesheet" href="PH_V2.css">
        <link rel="stylesheet" href="normalize.css">
    </head>

    <body>
        <div class="container two alt-two">
            <h1>Welcome<br> <span>to our project home!</span></h1><br>
            <p>Choose one of the following projects to get started:</p>

        </div>
        
        <section class="par">
            <div class="ul">
                <div class="col">

                    <div class="element">
                        <div class="li" ><a href="/website Pages/welcome.html"><img src="hr2.png" alt="Human Resources"></a> </div>
                        <div class="content one">
                            Human Resources: Efficiently manage your workforce with our all-in-one HR software.
                        </div>
                
                    </div>
                    
                    <div class="element">
                        <div class="li" > <a href="#"><img src="higher.png" alt="Higher Studies" ></a> </div>
                        <div class="content three">
                            Higher Studies: Find and apply to top universities worldwide with our intelligent college search engine.
                        </div>
                    </div>
                </div>
                
                <div class="col">
                    <div class="element">
                        <div class="li" > <a href="#"><img src="student-png-algebra-nation-30.png" alt="Students Affairs" ></a> </div>
                        <div class="content two">
                            Students Affairs: Enhance student experience and success with our comprehensive student services platform.
                        </div >
                    </div>
    
    
                    <div class="element">
                        <div class="li"> <a href="#"><img src="—Pngtree—chemical research laboratory_5412072.png" alt="Laboratory Tracking" ></a> </div>
                        <div class="content four">
                            Laboratory Tracking: Monitor and optimize your lab performance with our powerful lab management software.
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </body>
</html>