<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Table</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" 
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" 
    crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="side_nav_bar/sideNavBar.css">
    <link rel="stylesheet" href="Authentication pages/nav bar/navBarStyle.css">
    <link rel="stylesheet" href="table.css">
	<!-- <link rel="stylesheet" href="/website Pages/Authentication pages/nav bar/navBarStyle.css"> -->
</head>
<body>
    <input type="checkbox" name="" id="check">
    <label for="check">
        <i class="fa-solid fa-bars" id="button"></i>        
        <i class="fas fa-xmark" id="cancel"></i>
    </label>
    <div class="side-bar">
        <header>
            HR_Link
        </header>
        <ul>
            <li><a href="#"><i class="fas fa-qrcode"></i>Dashboard</a></li>
            <li><a href="#"><i class="fas fa-stream"></i>Overview</a></li>
            <li><a href="#"><i class="fas fa-circle-question"></i>About</a></li>
            <li><a href="#"><i class="fas fa-sliders-h"></i>Services</a></li>
            <li><a href="#"><i class="fas fa-envelope"></i>Contact</a></li>
            <li><a href="#"><i class="fa-solid fa-right-from-bracket"></i>Login</a></li>

        </ul>
    </div>

    <header class="header">
        <!-- <img class="header-logo" src="/website Pages/Authentication pages/HR9.png" alt="logo"> -->
        <nav>
            <ul class="nav-links">
                <li class="header-lst-itm"><a class="header-link" href="{% url 'login'%}">Services</a></li>
                <li class="header-lst-itm"><a class="header-link" href="#">Projects</a></li>
                <li class="header-lst-itm"><a class="header-link" href="#">About</a></li>
            </ul>
        </nav>
        <a class="cta header-link" href="{% url 'login'%}"><button class="header-button1">Login</button></a>
        <div class="toggle-button">
            <!-- <i class="fa-solid fa-bars"></i>  -->
        </div>
        <!-- <div class="dropdown-menu">
            <li class="header-lst-itm"> <a class="header-link" href="#">Services</a></li>
            <li class="header-lst-itm"><a class="header-link" href="#">Projects</a></li>
            <li class="header-lst-itm"><a class="header-link" href="#">About</a></li>
            <li class="header-lst-itm"><a class="cta header-link" href="Authentication pages/login.html"><button class="header-button2">Login</button></a></li>
        </div> -->
    </header>   

    <div class="table-container">

        <div class="search">

            <label for="key">Search</label>
            <input type="text" name="key" id="key">
        </div>
    
        <table id = 'table'>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>address</th>
                <th>phone</th>
                <th>gender</th>
                <th>availableVac</th>
                <th>actualVac</th>
                <th>salary</th>
                <th>birthDate</th>
                <th>update</th>
                <th>delete</th>
            </tr>
    
            <!-- <tr>
                <td>1</td>
                <td>Ahmed</td>
                <td>a@gmail.com</td>
                <td><button class="update">update</button></td>
                <td><button class="delete">delete</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Ahmed</td>
                <td>a@gmail.com</td>
                <td><button class="update">update</button></td>
                <td><button class="delete">delete</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Ahmed</td>
                <td>a@gmail.com</td>
                <td><button class="update">update</button></td>
                <td><button class="delete">delete</button></td>
            </tr>
            <tr>
                <td>1</td>
                <td>Ahmed</td>
                <td>a@gmail.com</td>
                <td><button class="update">update</button></td>
                <td><button class="delete">delete</button></td>
            </tr> -->
        </table>
    </div>

    <footer>
        &copy; 2023 Human Resources Website all rights reserved
      </footer>

    <script src="secTable.js"></script>
</body>
</html>